:root {
  --md-primary-fg-color: #00a6b6;
  --md-primary-fg-color--light: #ade2e3;
  --md-primary-fg-color--dark: #37393d;
  --md-primary-bg-color:           hsla(0, 0%, 100%, 1);
  --md-primary-bg-color--light:    hsla(0, 0%, 100%, 0.7);
}
